<div id="tipModal"  class="">
  <div class="close_tip_modal_p">{% render 'icon-close-thin' %}</div>
  <h6 class="type-heading-1 tc">Add Tip</h6><br>
  {% assign product = all_products['tip'] %}
  <div class="tip-inputs">
    <span class="percent">5%</span>
    <span class="percent">10%</span>
    <span class="percent">15%</span>
    <span class="percent">20%</span>  
  </div>
  <button class="btn">Add Tip</button>
</div>