<div class="postalModal_container_p">
  <div id="postalCodeModal"  class="">
    <div class="close_modal_p">X</div>
    <h2 class="type-heading-1 tc">Welcome! To proceed please complete the following:</h2><br>
    <label for="postalcode">Postal Code:</label><br>
    <input type="text" id="postalcode" name="postalcode" value=""><br><br>
    <button id="postal-code" class="btn" type="button">Submit</button>
    <button id="browsing" class="btn" type="button">Just Browsing</button>
  </div>
</div>

{% schema %}
  {
    "name": "Postal Code Modal",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
